@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    

header {
    position: sticky;
    top: 0;
    background-color: white;
}

.topbar {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content:space-around;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 3px 5px #dedede;
}

.item-first {
    display: flex;
    width: 20%;
    height: 80%;
}

.item-first img {
    cursor: pointer;
}

.item-three {
    display: flex;
    width: 23%;
    background-color: white;
    align-items: center;
}

.item-three ion-icon{
    display: flex;
    color: darkgrey;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.span-one{
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    border-style: solid;
    border-color: darkgrey;
}

.span-two {
    border-radius: 50%;
    background-color: orangered;
    color: white;
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
}

.container {
    padding: 56px 0 0 0; 
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.child-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.lateral-bar {
    width: 22%;
    padding: 56px 50px 0 0;
    margin: 30px 0 0 0;
    position: sticky;
    background-color: white;
    top: 0;
}

.s3 {
    padding-left: 20px;
}

.main-total {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

.child-two {
    padding-top: 56px;
    display: flex;
    width: 50%;
    box-sizing: border-box;
    align-items: center;
    margin-right: 10%;
}

.c1 {
    margin-right: 20px;
    margin-top: 50px;
    width: 70%;
    min-width: 0;
}

.c2 img {
    height: 20px;
}

.c4 span {
    margin-left: 10px;
}

.c5 {
    display: flex;
}

.s2 {
    padding: 1%;
    background-color: #E0E0E0;
    border-radius: 20px;
    cursor: pointer;
}

.img1 {
    margin-left: 100px;
    cursor: pointer;
}

.title1 {
    padding-bottom: 16px;
}

.s3 {
    padding: 10px;
    margin: 3px;
    background-color: #E0E0E0;
    border-radius: 20px;
    cursor: pointer;
}

.s4 {
    padding: 5px;
    margin-right: 3px;
    color: gray;
    cursor: pointer;
}

.main-bottom a {
    text-decoration: none;
    color: #1A8917;
    margin-bottom: 50px;
    margin: 50px;
}

.main-bottom {
    padding: 20px;
    box-shadow: 0px 1px 0px gray;
}

.main-bottom2 {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



